<main>
  <form (ngSubmit)="submit()" [formGroup]="form" novalidate>
    <h1>Form</h1>

    <label for="email">Email</label>
    <input id="email" type="email" aria-errormessage="emailError" autocomplete="email" formControlName="email">
    <div class="error" id="emailError" role="alert">
      <p *ngIf="hasError('email', 'required')">This is a required field</p>
      <p *ngIf="hasError('email', 'maxlength')">Email should be less than or equal to 50 characters</p>
      <p *ngIf="hasError('email', 'pattern')">Please provide a valid email address</p>
    </div>

    <div class="actions">
      <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Submit</button>
      <button type="button" mat-button (click)="reset()">Reset</button>
    </div>
  </form>
</main>